@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Poppins:wght@300;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/druk-wide-bold');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300&family=Jacquard+12&family=Jacquard+24&family=Manufacturing+Consent&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pirata+One&family=Roboto:ital,wght@0,100..900;1,100..900&family=UnifrakturMaguntia&family=UoqMunThenKhung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Manufacturing+Consent&family=Unbounded:wght@200..900&display=swap');
@import "tailwindcss";


:root {
  /* --background: #161515; */
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: linear-gradient(135deg, #ff7e5f 0%, #feb47b 100%); */
    background: linear-gradient(135deg,
        #1fffd4 0%,
        #3fd0c9 20%,
        #5faac7 40%,
        #7f8fd4 55%,
        #a86ad9 70%,
        #c84adf 85%,
        #ff00cc 100%);

    background-size: 160% 100%;
    animation: gradientWave 10s ease infinite;
    transition: background-color 0.3s, color 0.3s;
    --foreground: #ededed;
  }
}

@layer utilities {
  .swing-hover {
    transition: transform 0.3s ease;
    transform-origin: left center;
    display: inline-block;
    margin-right: 12px;
    perspective: 300px;

  }

  .swing-hover:hover {
    transition: transform 0.3s ease;
    transform: rotate3d(0.09, 1, 0, 30deg) translateZ(-1px);
  }
}

/* font-family: 'Satoshi', sans-serif;
font-family: 'Clash Display', sans-serif;
font-family: 'Clash Grotesk', sans-serif;
font-family: 'Panchang', sans-serif;
font-family: 'Nippo', sans-serif;
font-family: 'Aktura', serif;
font-family: 'Melodrama', serif;
font-family: 'Supreme', sans-serif;
 */

/* scroller */
/* WebKit */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #ff7e5f;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #f1faee;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #007f8c #000000;

}

/* end */

/* animations |key frames */
@keyframes gradientWave {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }

  /* 0% {
    background-position: 0% 50%;
  }

  25% {
    background-position: 50% 60%;
  }

  50% {
    background-position: 100% 50%;
  }

  75% {
    background-position: 50% 40%;
  }

  100% {
    background-position: 0% 50%;
  } */

}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes scaleOut {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0.9);
  }

}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.animate-fadeOut {
  animation: fadeOut 0.3s ease-out;
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}

.animate-scaleIn {
  animation: scaleIn 0.3s ease-out;
}

.animate-scaleOut {
  animation: scaleOut 0.3s ease-out;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fadeInLeft {
  animation: fadeInLeft 1s ease-out both;
}

.animate-fadeInLeftDelay {
  animation: fadeInLeft 1s ease-out both;
  animation-delay: 0.4s;
  opacity: 0;
  /* Ensure hidden before animation kicks in */
}

/* Staggered delays */
.delay-1 {
  animation-delay: 0.3s;
}

.delay-2 {
  animation-delay: 0.6s;
}

.delay-3 {
  animation-delay: 0.9s;
}

.delay-4 {
  animation-delay: 1.2s;
}

/* right */
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fadeInRight {
  animation: fadeInRight 1s ease-out both;
}

.animate-fadeInRightDelay {
  animation: fadeInLeft 1s ease-out both;
  animation-delay: 0.4s;
  opacity: 0;
}

.line-arrow {
  border-radius: 50%;
  border: 2px solid #ffffff;
  /* background-color: #007f8c; */
  transition: background-color 0.5s ease-in-out;

}

.line-arrow:hover {
  /* background-color: #3deab8; */
  transition: background-color 0.5s ease-in-out;
}

.line-arrow-b {
  border-radius: 50%;
  border: 2px solid #171717;
}

.arrow-r-button {
  background: transparent;
  border: none;
  padding: 10px;
  transition: transform 0.3s ease;

}

.arrow-l-button {
  background: transparent;
  border: none;
  padding: 10px;
  transition: transform 0.3s ease;

}

.arrow-l-button:hover .arrow-icon {
  animation: slideLeftReset 0.7s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

.carousel-button-prev:hover {
  animation: slideLeftReset 0.7s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

@keyframes slideLeftReset {
  0% {
    opacity: 0;
    transform: translateX(20px) scale(0.8);
  }

  10% {
    opacity: 0.6;
    transform: translateX(15px) scale(0.8);
  }

  20% {
    opacity: 0.8;
    transform: translateX(10px) scale(0.9);
  }

  30% {
    opacity: 0.9;
    transform: translateX(5px) scale(0.9);
  }

  40% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }

  50% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }

  60% {
    opacity: 0.9;
    transform: translateX(-5px) scale(0.9);
  }

  70% {
    opacity: 0.8;
    transform: translateX(-10px) scale(0.9);
  }

  80% {
    opacity: 0.6;
    transform: translateX(-15px) scale(0.8);
  }

  90% {
    opacity: 0.2;
    transform: translateX(-20px) scale(0.8);
  }

  100% {
    opacity: 0;
    transform: translateX(-20px) scale(0);
  }
}

.arrow-r-button:hover .arrow-icon {
  animation: slideRightReset 0.7s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

.carousel-button-next:hover {
  animation: slideRightReset 0.7s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

@keyframes slideRightReset {
  0% {
    opacity: 0;
    transform: translateX(-20px) scale(0);
  }

  10% {
    opacity: 0.2;
    transform: translateX(-20px) scale(0.8);
  }

  20% {
    opacity: 0.6;
    transform: translateX(-15px) scale(0.8);
  }

  30% {
    opacity: 0.8;
    transform: translateX(-10px) scale(0.9);
  }

  40% {
    opacity: 0.9;
    transform: translateX(-5px) scale(0.9);
  }

  50% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }

  60% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }

  70% {
    opacity: 0.9;
    transform: translateX(5px) scale(0.9);
  }

  80% {
    opacity: 0.8;
    transform: translateX(10px) scale(0.9);
  }

  90% {
    opacity: 0.6;
    transform: translateX(15px) scale(0.8);
  }

  100% {
    opacity: 0;
    transform: translateX(20px) scale(0.8);
  }
}

/* end */

body {
  background: var(--background);
  color: var(--foreground);

  /* font-family: 'Technor', sans-serif; */
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.main-logo {
  font-family: "BBH Bartle", sans-serif;
  font-weight: 800;
  font-style: solid;
}

/* index */
.header {
  transform-origin: center top;
  background-position: center;
  background-repeat: space;
  height: 7250px;
  text-align: center;
  align-items: center;
  margin: 0.5rem;
  padding: 20px 20px;
  border-radius: 1rem;

  perspective: 800px;
  perspective-origin: center;
}

.header h1 {
  display: inline-block;
  font-size: 4rem;
  font-weight: 900;
  color: #fff;
  /* text-shadow: 0 5px 10px rgba(0,0,0,0.5); */
  transform-style: preserve-3d;
  animation: rotate3D 10s linear infinite;
}

.header .text {
  font-size: 9rem;
  font-family: 'Panchang', sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: bold;
  padding: 125px 10px;
  /* background: linear-gradient(90deg, #fb5228, #ff613a, #ff7e5f, #feb47b, #fac094); */

  background-size: 1000% 200%;
  animation: gradientWave 30s ease infinite;
  transition: background-color 0.3s, color 0.3s;
  /* -webkit-background-clip: text; */
  -webkit-text-fill-color: white;
  background-clip: text;
}

/* Tweak these */
.marquee {
  --gap: 2rem;
  --duration: 18s;
  display: flex;
  overflow: hidden;
  align-items: center;
  gap: var(--gap);
  position: relative;
  width: 100%;
  user-select: none;
  color: #fffdfd;
  /* background-color: #C10801; */
}

.marquee__content {
  display: flex;
  flex-shrink: 0;
  min-width: 100%;
  /* each track is exactly 1 container wide */
  gap: var(--gap);
  align-items: center;
  animation: marquee-scroll var(--duration) linear infinite;
  transition: color 0.5s ease-in-out;
  will-change: transform;
}

.marquee__content li {
  list-style: none;
  white-space: nowrap;
}

@keyframes marquee-scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

/*  */
.marquee:hover .marquee__content {
  animation-play-state: paused;
  /* color: #E85002; */
  color: #f69b13ff;
  transition: color 0.5s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .marquee__content {
    animation: none;
  }
}

/* end */

/* gallery */
.modal {
  background-color: #00000049;
  backdrop-filter: blur(8px);
  transition: filter 2s ease-in-out;
  scrollbar-color: #0a0a0a #ff0000;
}

.modal-heading {
  color: white;
  font-family: 'Druk Wide Bold', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.modal-text {
  /* color: #608561; */
  font-family: 'Druk Wide Bold', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.modal-text-1 {
  color: rgb(4, 4, 4);
  font-family: 'Druk Wide Bold', sans-serif;
  font-weight: 200;
  font-style: normal;
}

.modal-text-2 {
  color: #ffffff;
  font-family: 'Druk Wide Bold', sans-serif;
  font-weight: 200;
  font-style: normal;
}

.modal-content {
  color: #000000;
  background: transparent !important
}

.m-button {
  font-weight: 800;
  padding: 10px;
  background-color: white;
  color: #0b0b0b;
  transition: color 0.5s ease-in-out, background-color 1s ease-in-out;

}

.m-button:hover {
  background-color: #007f8c;
  color: #3deab8;
  transition: color 0.5s ease-in-out, background-color 0.8s ease-in-out;

}

.x-button {
  padding: 8px;
  color: #ff0000;
  transition: color 0.5s ease-in-out, background-color 1s ease-in-out, transform 0.5s ease-in-out;
  transform: rotate(-180deg);
}

.x-button:hover {
  color: #ff5454;
  transition: color 0.5s ease-in-out, background-color 1s ease-in-out, transform 0.8s ease-in-out;
  transform: rotate(-180deg);
  transform: scale(1.5);

}

.slug {
  /* background-color: #FAE4CF; */
  backdrop-filter: blur(8px);
  /* background: linear-gradient(135deg, #ff7f5f46 0%, #feb47b 100%); */
  background: linear-gradient(135deg, #2e988b 0%, #38b4a5 20%, #63bdde 50%, #1d709dac 100%);

  font-weight: 500;
  padding: 2.5px;

  /* border: 2px solid #3c3c3c; */
}

.slug-image {
  margin: auto;
  box-shadow: 0 4px 8px #00000086;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.slug-image:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px #00000086;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.main-detail {
  padding: 15px;
  border: 2px solid #171717;
  box-shadow: #7e7e7e 10px 10px 10px;
}

/* end */

/* About */
.a-heading {
  color: #f8f9f9;
  /* font-family: 'Druk Wide Bold', sans-serif; */
  font-family: "Unbounded", sans-serif;
  font-weight: 800;
  font-style: solid;
}

.a-content {
  color: #fdfdfd;
}

.a-link {
  color: #1d709dac;
  transition: color 0.5s ease-in-out;
}

.a-link:hover {
  color: #9ae0f9;
  text-decoration: underline;
  transition: color 0.5s ease-in-out, text-decoration 0.5s ease-in-out;
}

/* end */

/* Contact */
button.gradient-text {
  cursor: pointer;
  /* background: linear-gradient(90deg, #3deab8, #007f8c); */
  background-color: white;
  animation-delay: 1.2s, 0s;
  border-radius: 0.15rem;
  color: #1d709dac;
  font-family: "Unbounded", sans-serif;
  font-weight: 800;
  font-style: solid;
}

.form-input {
  /* background: #ff000033; */
  backdrop-filter: blur(10px);
  font-weight: 600;
}

/* end */

/* Components */
.home {
  /* background: linear-gradient(135deg,
      #1fffd4 0%,
      #3fd0c9 20%,
      #5faac7 40%,
      #7f8fd4 55%,
      #a86ad9 70%,
      #c84adf 85%,
      #ff00cc 100%
      );

  background-size: 130% 100%;
  animation: gradientWave 5s ease infinite;
  transition: background-color 0.3s, color 0.3s; */
  /* outline: 1rem solid white;
  outline-offset: -15rem;
  border-radius: 15px; */
}

.logo {
  font-optical-sizing: auto;
  transition: transform 0.5s ease-in-out;
  font-family: 'Panchang', sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: bold;
  color: #ffffff
}

.logo-2 {
  font-optical-sizing: auto;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  font-family: 'Panchang', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.logo-3 {
  font-family: 'Druk Wide Bold', sans-serif;
  font-weight: 400;
  font-style: normal;
  /* color: linear-gradient(45deg, #F16001, #C10801); */
}

.druk {
  font-family: 'Druk Wide Bold', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.logo-pic {
  flex-shrink: 0;

  /* background: linear-gradient(90deg, #3deab8, #007f8c); */
  background: linear-gradient(60deg, #fd4444ef, #ff0000ef, #a70404);
  background-size: 200% 100%;
  animation: gradientWave 4s ease infinite;

  border-radius: 30px;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
}

.rotate {
  transition: transform 0.3s ease-in-out;

}

.rotate:hover {
  transition: transform 0.5s ease-in-out;
  transform: rotate(360deg);
}

.logo-transition {
  border-radius: 50%;
  background: linear-gradient(60deg, #fd4444ef, #ff0000ef, #a70404);
  background-size: 200% 100%;
  animation: gradientWave 1s ease infinite;
}

@media screen and (max-width: 768px) {
  :root {
    background:  #7f8fd4;
  }

  .gallery {
    /* background: #161515; */
  }

  html {
    font-size: 11px;
  }

  .navbar {
    font-size: 0.9rem;
    height: 20px;
  }

  .navbar.collapsed .logo-pic {
    width: 20px;
    height: 20px;
    margin: auto;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;

  }

  .logo {
    font-size: 0.9rem;
  }

  .Image {
    width: fit-content;
    height: fit-content;
  }

  .link {
    font-size: 0.5rem;
  }

  .slug {
    margin: 15px;
  }

  .m-button {
    padding: 0.5rem;
    margin: auto;
  }

  .d-card {
    height: 100px;
  }

  .canvas {
    height: fit-content
  }

  .footer {
    padding: 2rem;
    font-size: 1rem;
  }
}

/* Navbar */
.nav-wrapper {
  position: absolute;

  top: 10;
  left: 0;
  width: 100%;
  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: center;
}


.navbar {
  background-color: white;
  /* border: 2px solid transparent; */
  font-family: 'Technor', sans-serif;
  font-weight: 500;
  transition: color 1s ease, border-color 1s ease, background-color 0.3s ease, transform 0.3s;
  color: #007f8c;
  display: flex;
  height: 45px;

  /* box-shadow: #0000008e 5px 5px 5px; */
  /* color: white; */
}

.link {
  font-family: 'Druk Wide Bold', sans-serif;
  font-size: 1.1rem;
  font-weight: 800;
  transition: color 0.3s, transform 0.3s;
  padding: 0.5rem 2rem;
}

/* .navbar:hover {
  transition: color 1s ease, border-color 2s ease, background-color 0.3s ease;
  border: 1px solid #ffffff;
  color: #ff0000;
} */

.link:hover {
  color: #3deab8;
  transform: scale(1.1);
  transition: color 0.3s, transform 0.3s;
}

.active-link {
  text-decoration-color: #ff7e5f;
  background: linear-gradient(90deg, #ff7e5f, #feb47b);
  background-size: 200% 200%;
  animation: gradientWave 10s ease infinite;
  transition: background-color 0.3s, color 0.3s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.navbar.expanded {
  background-color: #070707;
  border: 2px solid #070707;
  max-width: 90%;
  max-height: 100%;
  /* border-radius: 30px; */
  border-radius: 10px;
  transition: max-width 0.4s ease-in-out, max-height 0.4s ease-in-out, border-radius 0.7s ease-in-out, background-color 0.8s ease-in-out, border-color 1s ease;
}

.navbar.collapsed {
  border: 2px solid transparent;
  flex-shrink: 0;
  max-width: 45px;
  max-height: 45px;
  overflow: hidden;
  border-radius: 30px;

  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: max-width 0.4s ease-in-out, max-height 0.4s ease-in-out, border-radius 0.8s ease-in-out, background-color 0.8s ease-in-out, border-color 1s ease;
}

.navbar.collapsed .logo-pic {
  width: 35px;
  height: 35px;
  margin: auto;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in-out;

}

.navbar.expanded .links.left {
  /* text-shadow: #000000 -2px 2px 1px; */
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1s ease, transform 0.5s ease;
}

.navbar.expanded .links.right {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1s ease, transform 0.5s ease;
}

.navbar.collapsed .links.left {
  opacity: 0;
  transform: translateX(20px);
  pointer-events: none;
}

.navbar.collapsed .links.right {
  opacity: 0;
  transform: translateX(-20px);
  pointer-events: none;
}

.navbar.expanded .chevron-right {
  color: #ff0000;
  transition: color 0.5s ease-in-out, transform 0.5s ease-in-out;

}

.navbar.collapsed .chevron-right {
  color: #000000;
  transition: color 0.5s ease-in-out, transform 0.5s ease-in-out;
}

/* .chevron-right {
  transition: transform 0.5s ease-in-out;
} */

.rotated {
  transform: rotate(180deg);
  transition: transform 0.5s ease-in-out;
}

/* end */

/* footer */
.footer {
  color: #cfcdcd;
  border: 1px solid transparent;
  transition: color 1s ease, border-color 1s ease, background-color 2s ease;
  background-color: #000000;
  /* font-family: 'Panchang', sans-serif; */
}

.footer:hover {
  color: #05c3d8;
  border: 1px solid #05c3d8;
  background-color: #161515;
  transition: color 1s ease, border-color 2s ease, background-color 3s ease;
}